html
  font-size 14px

body
  font-size 1em

a,a:hover,a:visited,a:focus,a:active
  text-decoration none

h2, h3
  color #ff6347
  font-size 1.7em
  font-weight bold
  margin-bottom 20px

.no-pad
  padding 0px

#app
  font-family 'Varela Round', sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale


// custom css
.s-head
  font-weight bold
  color rgba(0,0,0,.8)
  letter-spacing 1px

.tag
  color rgba(0,0,0,.54)

textarea 
  border 1px solid rgba(0,0,0,.14)
  outline none
  padding 0.4em
  font-size 1em
  letter-spacing 0.5px

p
  color rgba(0,0,0,.60)